<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SlamBook</title>
<link href="/assets/layout.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/assets/icon.ico" /> 
<script type="text/javascript" src="iepngfix_tilebg.js"></script> 
<script type="text/javascript" src="iepngfix.js"></script> 
</head>

<body>
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
		        
		<li class="active"><%= link_to "Home",new_user_session_path %></li>
        	<% if user_signed_in? %>
   		<li><div class="blank"></div></li>
   				<li><div class="blank"></div></li>
 		<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li> 		
		<% end %>
        	<li><a href="#">DropDown</a>
          	<ul>
            		<li><a href="#">Link 1</a></li>
            		<li><a href="#">Link 2</a></li>
            		<li><a href="#">Link 3</a></li>
          	</ul>
       		</li>
        
      		</ul>
</div>
    <div id="search">
      <p>Sign In to open your SlamBook....</p>
    </div>
    <br class="clear" />
  </div>
</div>
  <%= yield %>
</body>
</html>
